<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projet</title>
  </head>
  
  <body>

    <div id="demo">
  <h1>Film Star Wars</h1>
  <template v-for="branch in branches">
                <input
                    type="radio"
                    :id="branch"
                    :value="branch"
                    name="branch"
                    v-model="currentBranch"
                />
                <label :for="branch">{{ branch }}</label>
  </template>

   <ul>
                <li>
                    <a> Titre :{{ currentFilm.title }}</a>
                    
                </li>
                <br/>

                 <li>
                    <a> Description :{{ currentFilm.opening_crawl }}</a>
                    
                </li>
                <br/>

                 <li>
                    <a> Director :{{ currentFilm.director }}</a>
                    
                </li>
                <br/>

                 <li>
                    <a> Producer :{{ currentFilm.producer }}</a>
                    
                </li>
                <br/>

                 <li>
                    <a> Making date :{{ currentFilm.release_date }}</a>
                    
                </li>

            </ul>


    </body>
 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script>

  const apifilm = "https://swapi.dev/api/films/?format=json";

  Vue.createApp({
  data () {
    return {
      branches: ["film1","film2","film3","film4","film5"],
      currentBranch: "film1",
      films:null,
      currentFilm:null,
    };
  },
  created:function(){
    this.fetchFilm();
  },
  
  watch: {
    currentBranch: "actua",
  },
  methods:{
  
  fetchFilm: async function () {
    try {
      const response = await axios.get(apifilm)
      console.log(response.data)
      this.films = response.data.results
      this.currentFilm = this.films[0];

    }
    catch (error){ 
      console.log(error);
    }
  },

  actua : function() {
     this.currentFilm = this.films[this.currentBranch[4]]

  },
},
  
}).mount("#demo");

  </script>
</html>
